.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-image: url("/public/images/img-home.jpg");
  opacity: 1;
  padding: 100px 20px;
  height: 900px;
  width: 100%;
  justify-items: center;
  grid-gap: 40px 100px;
}

@media screen and (max-width: 960px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .cards-container {
    height: auto;
  }
}
