:root {
  --mainHeight: 80px;
}
/* when defining stick you need to include top as a reference */
.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--mainHeight);
  max-width: 100vw;
  width: 100vw;
}

.navbar-logo {
  margin-right: 30px;
  color: white;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav-menu {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 12px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;
  height: var(--mainHeight);
}

.facompass {
  height: 50px;
  object-fit: cover;
  margin-top: 2px;
  margin-right: 15px;
}

.fatimesbars {
  height: 35px;
  color: #fff;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.nav-links:hover {
  border-bottom: 4px solid rgb(255, 253, 253);
}

.nav-item {
  height: var(--mainHeight);
}

.nav-links-mobile,
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    justify-content: space-between;
    padding: 0px 30px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    /* since flex direction is column, justify-content acts on y ; */
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .nav-menu.active {
    /* transition into these properties */
    background: #242222;
    left: 0;
    opacity: 0.96;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .nav-links {
    width: 100%;
    display: grid;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 80%;
    height: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    /* transition works for hover on and off */
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
  }
}
