* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.servicesImg,
.productsImg,
.signupImg {
  position: absolute;
  height: 100vh;
  object-fit: cover;
}

.services,
.products,
.signup {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
